*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'HelveticaNeue', sans-serif;
    background-color: #FFFFFF;
}

h2{
    font-size: 30px;
    border-left: 2px solid #E60028;
    padding-left: 16px;
}

.container {
    padding: 0 5vw;
}


.header{
    display: flex;
    padding: 2vw 5vw;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.header__title{
    text-transform: uppercase;
}

.header__actions{
    display: flex;
    align-items: center;
}

.header__avatar{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E60028;
    padding: 12px 12px ;
    border-radius: 50%;
}

.header__profile{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin:0px 10px;
    padding-right: 18px;
    border-right: 1px solid #E3E3E3;
}

.nav {
    width: 100vw;
    display: flex;
}

.nav__item{
    padding: 1rem;
    text-align: center;
    flex: 1;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    border-bottom: 1px solid #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.nav__item:hover{
    background-color: #F2F2F2;
}
.nav__item--active{
    background-color: #F2F2F2;
}


.Candidature{
    display: flex;
    flex-direction: column;
}

.Candidature__title{
    margin-top: 56px;
    margin-bottom: 24px;
}

.Candidature__table{
    margin-bottom: 44px;
    border-color: #F2F2F2;  
}

.Candidature__table__row{
    border: 10px solid #F2F2F2;
}

.Candidature__table__header{
    text-align: left;
    color: #8696A6;
    text-transform: uppercase;
    padding: 1vw 2vw;
}

.Candidature__table__item{
    padding: 1vw 2vw;
}

.Candidature__table__item--success{
    color: #00B946;
}

.Candidature__table__item--failed{
    color: #E60028;
}

.Candidature__table__item--pending{
    color: #215BE1;
}

.Offres{
    display: flex;
    flex-direction: column;
}

.Offres__container {
    background-color: #F5F7F9;
    padding: 3vw 14vw;
}

.Offres__container__card{
    background-color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 8px 8px rgba(87, 87, 87, 0.116);
    padding: 2vw;
}

.Offres__container__card__title{
    color: #E60028;
}

.Offres__container__card__job{
   border: none;
   font-weight: 300;
   padding: 0;
   margin: 1vw 0;
}

.Offres__container__card__location{
    display: flex;
    align-items: center;
}

.Offres__container__card__location>h3{
    font-weight: 300;
    margin-left: 8px;
}